{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage",
                "corejs": 3,
                "modules": false,
                "targets": {
                    "browsers": ["safari >= 10", "last 2 versions"]
                },
                "include": []
            }
        ]
    ],
    "plugins": ["@babel/plugin-transform-runtime", "@babel/plugin-transform-modules-commonjs"]
}
